
  
  .label {
    margin-bottom: 0.5rem;
  }
  
  .modes {
    margin-bottom: 1rem;
  }
  
  .button-container {
    margin-bottom: 0.5rem;
  }
  
  .fade-enter .btn {
    opacity: 0;
    transform: translateX(-100%);
  }
  .fade-enter-active .btn {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit .btn {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit-active .btn {
    opacity: 0;
    transform: translateX(100%);
  }
  .fade-enter-active .btn,
  .fade-exit-active .btn {
    transition: opacity 500ms, transform 500ms;
  }
  